# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Local configuration files
.agents/
.codex/

# OS
.DS_Store
Thumbs.db